{%extends "base.html"%}

{%block head%} 
<title>Alter Post</title>
{%endblock%}

{%block body%}
    <br>
<form action="{{url_for('alter_post',id=post.id)}}" method="post" class="container shadow-sm p-3 mb-5 bg-body-tertiary rounded" data-bs-theme="dark">
    <div class="d-grid gap-2 d-md-block d-md-flex justify-content-start">
        <a href="{{url_for('index')}}" class="btn btn-outline-light">Voltar</a> 
        
    </div>
    <br>
    <fieldset class="d-flex flex-column gap-2">
        {{ form.csrf_token }}
        
        {{form.title.label(class="text-light")}}
        {{form.title()}}
        {{form.author.label(class="text-light")}}
        {{form.author()}}
        {{form.slug.label(class="text-light")}}
        {{form.slug()}}
        {{form.content.label(class="text-light")}}
        {{form.content(rows="10", style="resize: none;")}}
        <div class="d-grid gap-2 d-md-block d-md-flex justify-content-evenly">
            <a href="{{url_for('delete_post',id=post.id)}}" class="btn btn-outline-danger">Deletar Post</a> 
            {{form.submit(value="Atualizar", class="btn btn-outline-light")}}
        </div>
    </fieldset>
</form>

{%endblock%}
