{%extends "base.html"%}

{%block head%} 
<title>Alter User Password</title>
{%endblock%}

{%block body%} 
{%if user.id == current_user.id%}
<br>
<h2 class="text-center">Alterar Senha</h2>
<br>
<form action="{{url_for('alter_user_password', id=user.id)}}" method="post" class="container  p-3 mb-5 bg-body-tertiary border border-warning shadow rounded"  >
        {{ form.csrf_token }}
        <div class="d-grid gap-2 d-md-block">
            <a href="{{url_for('dashboard_user')}}" class="btn btn-dark">Voltar</a> 
        </div>
    <br>
        <div class="input-group mb-3">

            {{form.password.label(class="input-group-text")}}
            {{form.password(class="form-control")}}
        </div>
        <div class="input-group mb-3">

            {{form.password_test.label(class="input-group-text")}}
            {{form.password_test(class="form-control")}}
        </div>
        <div class="d-grid gap-2 d-md-block text-center">
            {{form.submit(value="Trocar Senha", class="btn btn-warning")}}
        </div>
    </fieldset>
</form>
{%else%}
    <script>
        window.location.href = "{{url_for('alter_user_password', id=current_user.id)}}"
    </script>
{%endif%}
{%endblock%}
