{%extends "base.html"%}

{%block head%} 
<title>Alter User</title>
{%endblock%}

{%block body%} 
<form action="{{url_for('alter_user', id=user.id)}}" method="post" class="container">
    <fieldset class="d-flex flex-column gap-2 shadow-sm p-3 mb-5 bg-body-tertiary rounded">
        {{form.hidden_tag()}}
        {{form.name.label}}
        {{form.name(value=user.name)}}
        {{form.email.label}}
        {{form.email(value=user.email)}}
        {{form.submit(value="Adicionar", class="btn btn-warning")}}
    </fieldset>
</form>
{%endblock%}
