{%extends "base.html"%}

{%block head%}
<title>Cozinheiros</title>
{%endblock%}
{%block body%}
<br>
{%if cozinheiros%}

<div class="container-fluid d-flex justify-content-center gap-3">
    <form class="d-flex justify-content-center" action="{{url_for('listar_usuarios')}}" method="post">
        {{ form.csrf_token }}
        {{form.search(class="form-control me-2" ,placeholder="Pesquise por cozinheiros")}}
        {{form.submit(class="btn btn-warning", value="Pesquisar")}}
    </form>
</div>
<hr>
<br>
<div class="container d-flex  flex-wrap gap-3 justify-content-evenly">
    {%for cozinheiro in cozinheiros%}
    <a href="{{url_for('menu_cozinheiro',username=cozinheiro.username)}}" class="text-decoration-none">
    <div class="card" style="width: 18rem;">
        <img src="{{url_for('static',filename='temp/'+cozinheiro.profile_pic)}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{cozinheiro.username}}</h5>

        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">nota</li>
            <li class="list-group-item">categoria</li>
        </ul>
    </div>
    </a>
    {%endfor%}
</div>
{%else%}
<p class="text-center">Não há cozinheiros (pode abrir falência já)</p>
{%endif%}
{%endblock%}