{%extends "base.html"%}

{%block head%}
<title>Clink {{current_user.username}}</title>
{%endblock%}

{%block body%}
<br>
<div class="container p-3 border d-flex bg-body-tertiary rounded flex-column" data-bs-theme="dark">
    <div class="d-grid gap-2 d-md-block">
        <a href="{{url_for('index')}}" class="btn btn-outline-light">Voltar</a>
    </div>
    <hr>
    <div class="container-sm "style="overflow: hidden;">
        {%if current_user.profile_pic == None%}
        <img src="{{url_for('static',filename='images/default_profile.png')}}" alt="" class="rounded img-thumbnail" width="200px" height="200px">
        {%else%}
        <img src="{{url_for('static',filename='temp/'+current_user.profile_pic)}}" alt="" class="rounded img-thumbnail" width="200px" height="200px">
        {%endif%}
    </div>
    <hr>
    <p class="text-light">Nome: {{user.name}}</p>
    <p class="text-light">Nome de Usuário: {{user.username}}</p>
    <p class="text-light">Email: {{user.email}}</p>
    <p class="text-light">Data de Entrada: {{"{:0}/{}/{}".format(user.data_entrada.day,user.data_entrada.month,user.data_entrada.year)}}</p>
    <hr>
    <div class="d-grid gap-2 d-md-block">
        <a href="{{url_for('alter_user',id=current_user.id)}}" class="btn btn-outline-light">Atualizar</a>
        <a href="{{url_for('alter_user_password',id=current_user.id)}}" class="btn btn-outline-light">Alterar Senha</a>
    </div>
</div>
{%endblock%}