{%extends "base.html"%}

{%block head%} 
<title>Login User</title>
{%endblock%}

{%block body%}
<br>
<h2 class="text-center">Login de Usuário</h2>
<br>
<form action="{{url_for('login')}}" method="post" class="container border border-warning shadow p-3 rounded" >

        {{ form.csrf_token }}
        <br>
        <div class="input-group mb-3">
            {{form.username.label(class=" input-group-text")}}
            {{form.username(class="form-control")}}

        </div>
        <div class="input-group mb-3">
            
            {{form.password.label(class=" input-group-text")}}
            {{form.password(class="form-control")}}
        </div>
        <div class="  d-md-block text-center bg-white">
            {{form.submit(value="Logar", class="btn btn-warning")}}

        </div>
    </fieldset>
</form>

{%endblock%}
