{%extends "base.html"%}

{%block head%}
<title>{{cozinheiro.username}}</title>
{%endblock%}
{%block body%}
<br>
<div class="container d-grid gap-2 d-md-block">
    <a href="{{url_for('listar_usuarios')}}" class="btn btn-outline-light">Voltar</a> 
</div>
<br>
<div class="container p-3 d-flex bg-body-tertiary rounded justify-content-center flex-column" data-bs-theme="dark">
    <img src="{{url_for('static',filename='temp/'+cozinheiro.profile_pic)}}" class="align-self-center rounded img-thumbnail" width="200px" height="200px">
    <p class="text-light align-self-center">{{cozinheiro.name}}</p>
    <p class="text-light align-self-center">{{cozinheiro.email}}</p>
</div>
<br>
<hr>
<br>
{%if pratos%}
<div class="container d-flex  flex-wrap gap-3 justify-content-evenly">
{%for prato in pratos%}
<div class="card" style="width: 18rem;">
    {%if prato.prato_pic == None%}
    <img src="{{url_for('static',filename='images/default_plate.jpg')}}" class="card-img-top" width="150rem" height="180rem">
    {%else%}
    <img src="{{url_for('static',filename='temp/'+prato.prato_pic)}}" class="card-img-top" width="150rem" height="180rem">
    
    {%endif%}
    <div class="card-body " style="overflow: hidden;">
        <h6 class="card-title">{{prato.name}}</h5>
        <p class="card-text text-break">{{prato.content}}</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">{{prato.categoria}}</li>
        <li class="list-group-item">{{"R$\t{:,.2f}".format(prato.preco)}}</li>
    </ul>
</div>
{%endfor%}
</div>
{%else%}
<p class="text-center">Não há postagens</p>
{%endif%}
{%endblock%}