{%extends "base.html"%}

{%block head%} 
<title>User List</title>
{%endblock%}

{%block body%} 
<br>
<form action="{{url_for('add_user')}}" method="post" class="container">
    <fieldset class="d-flex flex-column gap-2 shadow-sm p-3 mb-5 bg-body-tertiary rounded">
        {{ form.csrf_token }}
        {{form.name.label}}
        {{form.name}}
        {{form.username.label}}
        {{form.username}}
        {{form.email.label}}
        {{form.email}}
        {{form.password.label}}
        {{form.password}}
        {{form.password_test.label}}
        {{form.password_test}}
        {{form.submit(value="Adicionar", class="btn btn-warning")}}
    </fieldset>
</form>
<div class="container">
    <hr>
</div>

{%if users%}
<table class="table table-striped container p-3 mb-5">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Username</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        {%for user in users%}
        <tr>
            <td>{{user.id}}</td>
            <td><a href="{{url_for('alter_user',id=user.id)}}">{{user.name}}</a></td>
            <td>{{user.username}}</td>
            <td>{{user.email}}</td>
        </tr>
        {%endfor%}
    </tbody>
</table>

{%else%}
    <h2 class="text-center">Não há usuários adicionados!</h2>
{%endif%}

{%endblock%}