{%extends "base.html"%}

{%block head%} 
<title>User Post</title>
{%endblock%}

{%block body%} 
<br>
<h2 class="text-center">Adicionar Prato</h2>
<br>
<form action="{{url_for('add_post')}}" method="post" class="container shadow-sm p-3 mb-5 bg-body-tertiary rounded" data-bs-theme="dark">
    <div class="d-grid gap-2 d-md-block d-md-flex justify-content-start">
        <a href="{{url_for('index')}}" class="btn btn-outline-light">Voltar</a> 
        
    </div>
    <br>
    <fieldset class="d-flex flex-column gap-2 ">
        {{ form.csrf_token }}
        
        {{form.title.label(class="text-light")}}
        {{form.title}}
        {{form.author.label(class="text-light")}}
        {{form.author()}}
        {{form.slug.label(class="text-light")}}
        {{form.slug()}}
        {{form.content.label(class="text-light")}}
        {{form.content(rows="10", style="resize: none;")}}
        <div class="d-grid gap-2 d-md-block text-center">

            {{form.submit(value="Adicionar", class="btn btn-outline-light")}}
        </div>
    </fieldset>
</form>

{%endblock%}
