
<div id="carouselExampleAutoplaying" class="carousel slide d-flex " data-bs-ride="carousel">
    <div class="carousel-inner position-relative p-3 rounded-3" style="height: 30em;">
        {%for cozinheiro in cozinheiros%}
        {%if cozinheiro.cozinheiro%}
        <div class="carousel-item h-100 active " data-bs-interval="3000" style="overflow: hidden; position: relative">
            {% if cozinheiro.profile_pic %}
            <img src="{{ url_for('static', filename='temp/' + cozinheiro.profile_pic) }}" class="d-block w-100" alt="..." style="object-fit: contain; width: 100%;height: 100%;">
            {% else %}
            <img src="{{ url_for('static', filename='images/default_profile.png') }}" class="d-block w-100" alt="..." style="object-fit: contain; width: 100%;height: 100%;">
            {% endif %}
            

            <div class="badge text-bg-warning text-wrap shadow p-3 m-2 rounded position-absolute top-0 start-50 translate-middle-x" style=" height: 3rem;">
                {{cozinheiro.name}}
            </div>
            <div class="badge text-bg-warning text-wrap shadow p-3 m-2 rounded position-absolute bottom-0 start-50 translate-middle-x" style=" height: 3rem;">
                <span class="rating">
                    <i class="bi bi-star-fill">{{cozinheiro.score}}</i>
                </span>
            </div>
        </div>
        {% endif %}
        {%endfor%}
        
        
        
    </div>
    <button class="carousel-control-prev align-self-center rounded" type="button" data-bs-target="#carouselExampleAutoplaying" style="background-color: #fd7e14; width: 60px; height: 100%;";
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon " aria-hidden="true" "></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next align-self-center rounded" type="button" data-bs-target="#carouselExampleAutoplaying" style="background-color: #fd7e14; width: 60px; height: 100%; "
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
