{%if posts%}
<div class="container d-flex  flex-wrap gap-3">
{%for post in posts%}
<div class="card shadow-sm p-3 bg-body-tertiary rounded" style="width: 25rem; height: 18rem;">
    <div class="card-body " style="overflow: hidden;">
        <a href="{{url_for('alter_post',id=post.id)}}" class="btn btn-warning">Alterar</a>
        <a href="#" class="btn btn-warning">Comprar</a>
        <h5 class="card-title">{{post.title}}</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">{{post.author}} <br>
            {{post.date_posted}}</h6>
        <p class="card-text" style="text-overflow: ellipsis;">{{post.content}}</p>
        
    </div>
</div>
{%endfor%}
</div>
{%else%}
<p>Não há postagens</p>
{%endif%}